<header class="header">
    <nav class="mainnav">
        <a href="/" class="mainnava">Home</a>
        <a href="/booking", onclick = "defaultbooking()" class="mainnava">Booking</a>
        <a href="/booking/findbooking" class="mainnava">Find Bookings</a>
        <a href="/booking/booked" class="mainnava">Display All Bookings</a>
        <a href="/about" class="mainnava">About Us</a>
        <a href="/help" class="mainnava">Help</a>
    </nav>
</header>