<h1>About Us</h1>
<p>This Python workshop has been running since 2015. It has been created to give
    a chance for everyone to learn coding.Our founder Ferenc has been working hard on creating workshops that can be understood with basic english knowledge. So go ahead, book a workshop
    you won't be disappointed.
</p>