<h1>Welcome to the Home Page</h1>


<p>This is is official website for "Python Workshop", have a peek in the about us
    section to learn about our history or click on booking and book an hour workshop with 
    our great teachers.
</p>
<p>Workshops are held 7 days a week from 11:00 to 17:00 and they are an hour long</p>